In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/delinai/schulich_ds1_2024/main/Datasets/class_5_data.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
df[df['Customer_ID'] == 1]

,Customer_ID,Age,Gender,Campaign_Exposure,Transaction_Category,Purchase_Amount,Premium_Product
0,1,39,Male,1,Electronics,93.775039,0
1,1,39,Male,1,Home Essentials,65.573266,0
2,1,39,Male,1,Home Essentials,61.982719,0
3,1,39,Male,1,Electronics,46.487828,1
4,1,39,Male,1,Home Essentials,93.138071,0
5,1,39,Male,1,Clothing,47.597182,1
6,1,39,Male,1,Clothing,57.596415,0
7,1,39,Male,1,Clothing,48.714884,0
8,1,39,Male,1,Home Essentials,62.596692,0
9,1,39,Male,1,Electronics,94.215648,0
10,1,39,Male,1,Home Essentials,38.253443,1
11,1,39,Male,1,Home Essentials,62.701278,1
12,1,39,Male,1,Electronics,69.385548,1
13,1,39,Male,1,Electronics,40.504029,0
14,1,39,Male,1,Electronics,58.583619,1

In [9]:
# check sample sizing

df.groupby('Campaign_Exposure')['Customer_ID'].nunique()

Campaign_Exposure
0    500
1    500
Name: Customer_ID, dtype: int64

In [ ]:
df.rename(columns = {'Age':'Customer_Age_Months'}, inplace=True)

In [ ]:
import seaborn as sns

sns.boxplot(df['Purchase_Amount'])

In [ ]:
sns.histplot(df["Purchase_Amount"])

In [ ]:
cust_level = df.groupby('Customer_ID')[['Customer_Age_Months','Gender','Campaign_Exposure','Transaction_Category','Purchase_Amount','Premium_Product']]\
.agg({'Customer_Age_Months':'max','Gender':'max','Campaign_Exposure':'max','Purchase_Amount':'mean','Premium_Product':'mean'})

In [ ]:
campaign_cx = cust_level[cust_level['Campaign_Exposure']==1]
reg_cx = cust_level[cust_level['Campaign_Exposure']==0]

In [ ]:
sns.histplot(campaign_cx["Purchase_Amount"])
sns.histplot(reg_cx["Purchase_Amount"])

In [ ]:
from scipy.stats import ttest_ind
from scipy.stats import mannwhitneyu

In [ ]:
t_stat, p_value = ttest_ind(campaign_cx['Purchase_Amount'], reg_cx['Purchase_Amount'], alternative='greater')

In [ ]:
print(p_value)

In [ ]:
u_stat, p_value = mannwhitneyu(campaign_cx['Purchase_Amount'], reg_cx['Purchase_Amount'], alternative='greater')

In [ ]:
print(p_value)